body{
  text-align: center;
  background-color: cyan;
}
.flex-container{
  display: flex;
  position: relative;
  flex-direction: column;
}
#outputName{
  letter-spacing: .7em;
}
#box1{
  order: 1;
  flex: 3;
  padding-top: 2em;
  padding-bottom: 2em;
}
#box2{
  order: 2;
  flex: 1;
  padding-top: 10vh;
  padding-bottom: 2em;
}
#box3{
  order: 3;
  flex: 1;
  padding-top: 2em;
  padding-bottom: 2em;
}
#box4{
  order: 4;
}
.win-game{
  display: none;
}
#guessed-letters{
  margin-bottom: 2em;
}
.lose-game{
  display: none;
}